* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 40px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 50px 0;
}

.footer-wraper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-wraper h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 16px 0 33px;

}

footer .footer-wraper>div {
    width: 300px;
}

footer p {
    min-height: 46px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 33px;
}

footer a {
    color: #F1CDB3;
    text-decoration: none;
}

footer .email {
    background: url(../images/icon-email.svg) no-repeat left center;
}

footer .tel {
    background: url(../images/icon-phone.svg) no-repeat left center;
}

footer .local {
    background: url(../images/icon-marker.svg) no-repeat left center;
    padding-left: 42px;
}